# Root folders
type carrier_file, file_type;
type omr_file, file_type, mlstrustedobject;
type misc_file, file_type;
type optics_file, file_type;
type prism_file, file_type;
type spu_file, file_type;
type dqmdbg_file, file_type;
